

<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
  
  {{!-- <div class="meta"> --}}
    Posted by {{User.username}} on {{format_date created_at}}
  </div>
   <div class="card-body">
      {{content}}
    </div> |
    <div>
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>